.App {
	text-align: center;
	left: 0;
	right: 0;
	display: flex;
}
.header {
	font-size: calc((75vw - 4.5rem) / 3);
	font-family: 'Rajdhani';
	font-weight: 800;
}
.subtitle {
}

.avatar {
	width: 150px !important;
	height: 150px !important;
	margin: auto !important;
}
.card {
	width: 75vw;
	height: auto;
}
.about-me-text {
	text-align: center;
	font-size: calc((100% + 0.8vw));
	font-family: 'Rajdhani';
	font-weight: 800;
}

.resume {
	max-width: 90vw;
	max-height: 90vh;
}
